/* ****************** Hero ****************** */
.hero {
  width: 100%;
  height: 100vh;
}

.hero-content {
  display: flex;
  flex-direction: row;
}

.hero-text {
  padding: 100px 20px 0 20px;
  width: 54%;
}

.hero-text h1 {
  font-family: var(--font-heading);
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 24px;
}

.hero-button {
  color: var(--text-faint);
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  padding: 10px 20px;
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-normal);
  text-decoration: none;
}

.icon:hover {
  cursor: pointer;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  object-fit: cover;
  width: 100%;
}
