/* ****************** Hero ****************** */
.hero {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 140px);
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90%;
}

.hero-text {
  padding: 0 40px;
  width: 54%;
}

.hero-text h1 {
  font-family: var(--font-heading);
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 24px;
}

.hero-button {
  color: var(--text-faint);
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 500;
  transition: transform 0.3s ease;
  padding: 10px 20px;
}

.hero-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-normal);
  text-decoration: none;
  padding-bottom: 20px;
}

.icon:hover {
  cursor: pointer;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  object-fit: cover;
  width: 100%;
  padding: 40px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%); /* Start from the left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End at the normal position */
  }
}

.hero-text .line {
  display: block;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1.5s ease-out forwards;
}

.hero-text .line:nth-child(1) {
  animation-delay: 0s;
}

.hero-text .line:nth-child(2) {
  animation-delay: 1s;
}

.hero-text .line:nth-child(3) {
  animation-delay: 2s;
}
