/* ****************** Navbar ****************** */
.logo {
  display: flex;
  align-items: center;
  align-self: flex-start;
  color: var(--text-normal);
  text-decoration: none;
  gap: 10px;
}

.border {
  display: none;
}

.logo-text {
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 100;
}

nav {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.navbar-toggle {
  text-align: right;
  margin-right: 20px;
}

.nav-list {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  margin-right: 20px;
}

.nav-item {
  margin-top: 10px;
}

.nav-link {
  color: var(--text-normal);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dark-mode-toggle {
  display: none;
}

@media (min-width: 481px) {
  .logo {
    align-self: stretch;
  }

  .logo-text {
    font-size: 22px;
  }

  .border {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
  }

  .nav-item {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-left: 20px;
    margin-top: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 50px;
    padding: 0 20px;
    transition: background-color 0.5s ease;
  }

  .nav-link:hover {
    background-color: var(--primary-color);
    color: var(--text-faint);
  }

  .dark-mode-toggle {
    display: block;
    background-color: transparent;
    border: none;
  }

  .dark-mode-toggle:hover {
    cursor: pointer;
  }
}
