/* ****************** About ****************** */
.about {
  background-color: white;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.cards {
  display: none;
}

/* ================ MEDIA QUERIES ================ */
@media (min-width: 768px) {
  .about-content {
    flex-direction: row-reverse;
    margin-top: 40px;
    gap: 40px;
  }

  .cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    min-height: calc(380px + 180px);
  }

  .about-text-container {
    position: relative;
    flex: 1;
  }

  .about-text {
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease;
  }

  .about-text.active {
    opacity: 1;
    transition: opacity 1.2s ease;
  }

  .card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    /* background-color: #4fff33; */
    border-radius: 20px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 1);
    cursor: grab;
    padding: 10px;
    width: 380px;
    height: calc(380px + 120px);
    user-select: none;
  }

  .card.top {
    transform: translate(0px, 0px) rotate(-4deg);
    z-index: 20;
  }

  .card.middle {
    transform: translate(70px, -10px) scale(0.9) rotate(4deg);
    z-index: 19;
  }

  .card.bottom {
    transform: translate(130px, -10px) scale(0.8) rotate(-2deg);
    z-index: 18;
  }

  .card-background {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 18px;
    /* background-color: var(--primary-color); */
    background-color: var(--body-color);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);
    height: 100%;
  }

  #background-past {
    /* background-color: #33ff5e; */
    background-image: url("../../assets/cards/past.png"),
      linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  }

  #background-present {
    /* background-color: #ffa233; */
    background-image: url("../../assets/cards/present.png"),
      linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  }

  #background-future {
    background-image: url("../../assets/cards/future.png"),
      linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  }

  .card-number {
    display: flex;
    justify-content: center;
    /* color: #f9f5ff; */
    color: var(--text-normal);
    font-family: var(--font-tarot);
    font-size: 1.5em;
    /* text-shadow: 2px 4px 1px rgba(0, 0, 0, 1); */
    padding: 10px;
    height: 70px;
  }

  .card-tags {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 50px;
    gap: 10px;
  }

  .card-tags p {
    background-color: white;
    border: 1.5px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 1);
    padding: 10px;
  }

  .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 0 18px 18px;
    font-family: var(--font-tarot);
    font-size: 1.5em;
    letter-spacing: 2px;
    height: 70px;
  }
}
