@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #9798bf;
  --primary-color-light: #aeafdc;
  --text-normal: #252322;
  --body-color: #f0eae2;
  --navbar-color: transparent;
  --hover-color: var(--primary-color-light);

  --font-family: "Poppins", sans-serif;
  --font-heading: "Abril Fatface", serif;
}

.spooky {
  --primary-color: #5abf35;
  --primary-color-light: #71bf54;
  --text-normal: #f0eae2;
  --body-color: #252322;
  --hover-color: var(--primary-color-light);
  --goo: #394434;

  --font-heading: "Creepster", system-ui;
}

body {
  position: relative;
  color: var(--text-normal);
  background-color: var(--body-color);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 300;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-color);
  padding: 20px;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}

main {
  padding: 0 100px;
  width: 100%;
  min-height: 100vh;
}
