@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@font-face {
  font-family: "HerosAssembleFont";
  src: url("../assets/fonts/HeroesAssembleRegular-Kmvl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GrimReaperFont";
  src: url("../assets/fonts/GrimReaper-jEBRO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #8133ff;
  --header-color: #e3ddd6;
  --goo: #33ff48;

  --primary-color-muted: #c49fff;
  --text-normal: #252322;
  --text-faint: #fbf5ed;
  --body-color: #fbf5ed;

  --font-family: "Lato", sans-serif;

  --font-logo: "Space Grotesk", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;

  --font-button: "Space Grotesk", sans-serif;

  --font-tarot: "GrimReaperFont";

  font-size: 16px;
  line-height: 1.8;

  --sm-card-width: 260px;
  --lg-card-width: 380px;

  --top-translatex: -40px;
  --top-scale: 1;
  --top-rotate: -4deg;
  --middle-translatex: 10px;
  --middle-scale: 0.9;
  --middle-rotate: 4deg;
  --bottom-translatex: 50px;
  --bottom-scale: 0.8;
  --bottom-rotate: -2deg;
}

.spooky {
  --text-normal: #f0eae2;
  --text-faint: #1b1d1a;
  --body-color: #1b1d1a;
  --goo: #2e5031;
}

body {
  position: relative;
  background-color: var(--body-color);
  color: var(--text-normal);
  font-family: var(--font-family);
  font-size: 1em;
  font-weight: 400;
  overflow-x: hidden;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  padding: 0 50px;
  width: 100%;
  min-height: 100px;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.border {
  width: 100%;
  height: 60px;
  transition: opacity 0.3s ease;
  z-index: 100;
}

main {
  min-height: calc(100vh - 160px);
}

section {
  padding: 30px;
}

#bottom-border {
  transform: scale(-1, -1);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
  font-size: 0.9em;
  height: 100px;
  z-index: 100;
}

footer a {
  color: var(--text-normal);
}

h1 {
  font-family: var(--font-heading);
  font-size: 2em;
  font-weight: 800;
  line-height: 1.2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4em;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 20px;
}

p {
  font-size: 0.8em;
}

.primary-button {
  color: var(--text-faint);
  background-color: var(--primary-color);
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 1);
  font-family: var(--font-button);
  font-size: 1em;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 10px;
  transition: 0.2s;
}

.primary-button:hover {
  box-shadow: none;
  transform: translate(2px, 2px);
  cursor: pointer;
}

/* ================ MEDIA QUERIES ================ */
@media (min-width: 378px) {
  h4 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  .primary-button {
    font-size: 1.2em;
  }
}

@media (min-width: 378px) and (max-width: 575px) {
  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.6em;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: 3.6em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    padding: 0 50px;
  }

  section {
    padding: 10px 50px;
  }

  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2.8em;
  }

  h3 {
    font-size: 1.8em;
  }
}

@media (min-width: 992px) {
  #top-border {
    grid-row: 2;
    opacity: 1;
  }

  main {
    grid-row: 3;
  }

  #bottom-border {
    grid-row: 4;
  }

  footer {
    grid-row: 5;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    padding: 0 70px;
  }

  section {
    padding: 60px 70px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.4em;
  }

  h3 {
    font-size: 1.4em;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  header {
    padding: 0 100px;
  }

  section {
    padding: 60px 100px;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3.4em;
  }

  h3 {
    font-size: 2.4em;
  }
}

@media (min-width: 1400px) {
  :root {
    font-size: 18px;
  }

  h1 {
    font-size: 4.6em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 3em;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  header {
    padding: 0 150px;
  }

  section {
    padding: 60px 150px;
  }
}

@media (min-width: 1600px) {
  header {
    padding: 0 250px;
  }

  section {
    padding: 60px 250px;
  }
}
