<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock%}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='styles.css') }}">
  </head>
  <body>
    <nav class="navbar">
        <a class="logo-link" id="home" href="/">HOME</a>
        <div class="navbar-nav">
            <a class="nav-link" id="work" href="/">WORK</a>
            <a class="nav-link" id="about" href="/about">ABOUT</a>
            <a class="nav-link" id="about" href="/contact">CONTACT</a>
        </div>
    </nav>
    <div class="section">{% block content %}{% endblock %}</div>
  </body>
</html>