<!-- extend base template -->
{% extends "base.html" %}Contact{% block css %}
<link rel="stylesheet" href="/static/css/hero.css" />
<link rel="stylesheet" href="/static/css/work.css" />
{% endblock%} Home{% block content %}
<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Reach Out</h1>
      <p>
        I'm Meghan, a frontend developer with a background in data analytics. My
        portfolio showcases a blend of technical expertise and creative
        solutions, from crafting visually captivating user interfaces to
        delivering insightful data analyses. Explore my work to see how I
        combine precision and creativity to build engaging and effective digital
        experiences.
      </p>
    </div>
    <div class="hero-image"></div>
  </div>
</section>
{% endblock %}
