<!-- extend base template -->
{% extends "base.html" %}Home{% block css %}
<link rel="stylesheet" href="/static/css/hero.css" />
{% endblock%} Home{% block content %}
<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Hi there!</h1>
      <p>
        I'm Meghan, a frontend developer with a background in data analytics. My
        portfolio showcases a blend of technical expertise and creative
        solutions, from crafting visually captivating user interfaces to
        delivering insightful data analyses. Explore my work to see how I
        combine precision and creativity to build engaging and effective digital
        experiences.
      </p>
    </div>
    <div class="hero-image">
      <img class="me" src="/static/images/me_light.png" />
    </div>
  </div>
  <div class="next">
    <i
      class="icon bx bx-chevron-down bx-lg bx-fade-down bx-tada-hover"
      onclick="scrollToSection('about')"
    ></i>
  </div>
</section>
{% include 'about.html' %} {% include 'work.html' %} {% include 'contact.html'
%} {% endblock %}
