<!-- extend base template -->
{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="/static/css/hero.css" />
<link rel="stylesheet" href="/static/css/work.css" />
{% endblock%} Home{% block content %}
<section class="hero">
  <div class="hero-content">
    <h1>Hi there!</h1>
    <p>
      My name is Meghan and I'm a frontend developer with a background in health
      insurance. My unique perspective from the health insurance industry allows
      me to approach problems with a keen eye for detail and a strong focus on
      user needs.
    </p>
  </div>
  <div class="hero-image"></div>
  <div class="next">
    <i
      class="icon bx bx-chevron-down bx-lg bx-fade-down bx-tada-hover"
      onclick="scrollToSection('work')"
    ></i>
  </div>
</section>
<section class="work-content" id="work">
  {% for project in projects %}
  <article class="card">
    <img class="card-image" src="project.image" />
    <h1 class="card-title">{{ project.title }}</h1>
    <h2 class="card-tagline">{{ project.tagline }}</h2>
    <p class="card-description">{{ project.description }}</p>
  </article>
  {% endfor %}
</section>
{% endblock %}
