<!-- extend base template -->
{% extends "base.html" %}Home{% block css %}
<link rel="stylesheet" href="/static/css/hero.css" />
<link rel="stylesheet" href="/static/css/work.css" />
{% endblock%} Home{% block content %}
<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Hi there!</h1>
      <p>
        I'm Meghan, a frontend developer with a background in data analytics. My
        portfolio showcases a blend of technical expertise and creative
        solutions, from crafting visually captivating user interfaces to
        delivering insightful data analyses. Explore my work to see how I
        combine precision and creativity to build engaging and effective digital
        experiences.
      </p>
    </div>
    <div class="hero-image">
      <img class="me" src="/static/images/me_2.png" />
    </div>
  </div>
  <div class="next">
    <i
      class="icon bx bx-chevron-down bx-lg bx-fade-down bx-tada-hover"
      onclick="scrollToSection('work')"
    ></i>
  </div>
</section>
<section class="work-content" id="work">
  <!-- {% for project in projects %}
  <article class="card">
    <img class="card-image" src="" />
    <h1 class="card-title">{{ project.title }}</h1>
    <h2 class="card-tagline">{{ project.tagline }}</h2>
    <p class="card-description">{{ project.description }}</p>
  </article>
  {% endfor %} -->
</section>
{% endblock %}
