<!-- extends index template -->
{% block css %}
<link rel="stylesheet" href="/static/css/work.css" />
{% endblock%} {% block content %}
<section id="work" class="work-content">
  <!-- {% for project in projects %}
  <article class="card">
    <img class="card-image" src="" />
    <h1 class="card-title">{{ project.title }}</h1>
    <h2 class="card-tagline">{{ project.tagline }}</h2>
    <p class="card-description">{{ project.description }}</p>
  </article>
  {% endfor %} -->
</section>
{% endblock %}
